/* Navigation Bar */
* {
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 100vw;
  background-color:transparent;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}

.logo h1 {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

/*Menu Panel*/

#burger {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  padding: 8px;
  z-index: 5;

}

.menu-panel {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.5s ease-in-out;
}
.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}
.menu-panel ul li {
  margin-bottom: 16px;
}
.menu-panel ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.menu-panel ul li a:hover{
  color: rgb(89, 203, 241);
  cursor: pointer;
}

.close-btn {
  background: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
}

/* Footer  */

footer {
  background-color: #0d0d0d;
  color: white;
  position: absolute;
  width: 100vw;
  z-index: 2;  
}

footer .content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 25px;
}

footer ul{
    list-style: none;
}

footer li{
    margin-bottom: 10px;
    margin-left: 5px;
    
}

footer a{
    color: #fff;
    text-decoration: none;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}

.footer-nav-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.footer-nav-link h4{
    margin-bottom: 10px;
}

.footer-bottom p{
  margin-top: 10px;
}


@media screen and (max-width: 374px) {
  /* CSS rules for Mobile Small Devices */

  .nav-links {
    display: none;
}
header nav{
  align-items: flex-start;
  max-width: 90vw;
  margin: auto;
}

/* menu panel  */
#burger {
    display: block;
    
}
.nav-links {
    display: none;
}
.logo-container > h3 {
    display: none;
}
.menu-panel.active {
    right: 0;
}

footer .content {
  max-width: 400px;
  margin: 0 auto;
}

.footer-top {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}


  }
  
  @media screen and (min-width: 375px) and (max-width: 424px) {
      /* CSS rules for Mobile Medium Devices */

    .nav-links {
        display: none;
    }
    header nav{
      align-items: flex-start;
      max-width: 90vw;
      margin: auto;
    }
  
    /* menu panel  */
    #burger {
        display: block;
        
    }
    .navigation {
        display: none;
    }
    .logo-container > h3 {
        display: none;
    }
    .menu-panel.active {
        right: 0;
    }
  
    footer .content {
      max-width: 400px;
      margin: 0 auto;
    }
  
    .footer-top {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }
  
  @media screen and (min-width: 425px) and (max-width: 767px) {
      /* CSS rules for Mobile Large Devices */


    .nav-links {
      display: none;
  }
  header nav{
    align-items: flex-start;
    max-width: 90vw;
    margin: auto;
  }

  /* menu panel  */
  #burger {
      display: block;
      
  }
  .navigation {
      display: none;
  }
  .logo-container > h3 {
      display: none;
  }
  .menu-panel.active {
      right: 0;
  }

  footer .content {
    max-width: 640px;
    margin: 0 auto;
  }

  .footer-top {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      /* CSS rules for Tablet Devices */

    .nav-links {
        display: none;
    }
    header nav{
      align-items: flex-start;
      max-width: 90vw;
      margin: auto;
    }

    /* menu panel  */
    #burger {
        display: block;
        
    }
    .navigation {
        display: none;
    }
    .logo-container > h3 {
        display: none;
    }
    .menu-panel.active {
        right: 0;
    }
 
    footer .content {
      max-width: 900px;
      width: 95vw;
      margin: 0 auto;
    }

  }
  
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
      /* CSS rules for Laptop Devices */
      header nav{
        max-width: 1200px;
      }
      
      footer .content {
        max-width: 1200px;
        width: 90vw;
        margin: 0 auto;
      }
    }
  @media screen and (max-width: 1440px) {
      /* CSS rules for Laptop Large Devices */
  }